{% block content %}
<div class="footer w-50">
  <footer class="text-light">
    <div class="">
        <hr class="bg-light">
      <ul class="d-flex justify-content-around list-inline">
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Contact</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        <li class="list-inline-item"><a href="#">Terms of Service</a></li>
      </ul>
    </div>
  </footer>
</div>
{% endblock %}
